name: radio-francine

services:
  app:
    build:
      context: .
      target: app
      args:
        WWWUSER: ${WWWUSER:-1000}
        WWWGROUP: ${WWWGROUP:-1000}
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    networks:
      - internal
    volumes:
      - .env:/var/www/html/.env
      - ./database.sqlite:/var/www/html/database/database.sqlite

  web:
    build:
      context: .
      target: web
    networks:
      - internal
      - traefik
    depends_on:
      - app
    labels:
      - traefik.enable=true
      - traefik.http.routers.radio-francine.rule=Host(`radio-francine.cochet.cloud`)
      - traefik.http.routers.radio-francine.entrypoints=web
      - traefik.http.services.radio-francine.loadbalancer.server.port=80
      - traefik.http.routers.radio-francine.priority=1
      - traefik.docker.network=apps

  queue:
    build:
      context: .
      target: app
      args:
        WWWUSER: ${WWWUSER:-1000}
        WWWGROUP: ${WWWGROUP:-1000}
    command: php artisan queue:work --tries=3 --backoff=3
    depends_on:
      - app
    networks:
      - internal

networks:
  internal:
  traefik:
    external: true
    name: apps
